<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>Морковка</string>
    <string>Лук</string>
    <string>Картошка</string>
    <string>Томат</string>
    <string>Тыква</string>
    <string>Свекла</string>
    <string>Капуста</string>
    <string>Чеснок</string>
    <string>Топинамбур</string>
    <string>Арбуз</string>
</array>
</plist>
